# Created by .ignore support plugin (hsz.mobi)
### Laravel template
vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
.idea/
.idea/inspectionProfiles/
.idea/laragit.iml
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml
.idea/php.xml
.idea/vcs.xml
package-lock.json
vendor/autoload.php
vendor/bin/
vendor/composer/
vendor/dnoegel/
vendor/doctrine/
vendor/erusev/
vendor/fzaninotto/
vendor/google/
vendor/hamcrest/
vendor/jakub-onderka/
vendor/laravel/
vendor/league/
vendor/mockery/mockery/.coveralls.yml
vendor/mockery/mockery/.gitignore
vendor/mockery/mockery/.php_cs
vendor/mockery/mockery/.scrutinizer.yml
vendor/mockery/mockery/.styleci.yml
vendor/mockery/mockery/.travis.yml
vendor/mockery/mockery/CHANGELOG.md
vendor/mockery/mockery/CONTRIBUTING.md
vendor/mockery/mockery/LICENSE
vendor/mockery/mockery/README.md
vendor/mockery/mockery/composer.json
vendor/mockery/mockery/docs/
vendor/mockery/mockery/examples/starship/Bootstrap.php
vendor/mockery/mockery/examples/starship/Starship.php
vendor/mockery/mockery/examples/starship/StarshipTest.php
vendor/mockery/mockery/library/
vendor/mockery/mockery/package.xml
vendor/mockery/mockery/phpunit.xml.dist
vendor/mockery/mockery/tests/
vendor/mockery/mockery/travis/
vendor/monolog/
vendor/mtdowling/
vendor/myclabs/
vendor/nesbot/
vendor/nikic/
vendor/paragonie/
vendor/phpdocumentor/
vendor/phpspec/
vendor/phpunit/
vendor/psr/
vendor/psy/
vendor/ramsey/
vendor/sebastian/
vendor/swiftmailer/
vendor/symfony/
vendor/tijsverkoyen/
vendor/vlucas/
vendor/webmozart/
